<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>minivue</title>
</head>
<body>
  <div id="app">
    <h1>差值表达式</h1>
    <h3>{{ name }}</h3>
    <h3>{{ age }}</h3>
    <h1>v-text</h1>
    <div v-text="name"></div>
    <h1>v-model</h1>
    <input type="text" v-model="name">
    <input type="text" v-model="age">
  </div>

  <script src="./js/compiler.js"></script>
  <script src="./js/observer.js"></script>
  <script src="./js/vue.js"></script>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        name: 'yushare',
        age: 18,
        person: {
          phone: 10086,
          gender: '男'
        }
      }
    })
  </script>
</body>
</html>